.quantity-control {
    display: flex;
    align-items: center;
  }
  
  .quantity-button {
    padding: 3px 7px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .quantity-button:hover {
    background-color: #ddd; /* Change the background color on hover */
  }
  
  .quantity {
    font-size: 18px;
    margin: 0 10px; /* Add margin to create space between buttons and quantity */
  }
  